---
import Layout from "@layouts/Layout.astro";
import { pbFetch } from "@functions";

const projects = await pbFetch({
	collection: 'projects',
	sort: 'updated'
})

const education = await pbFetch({
	collection: 'courses',
	sort: '-start_date'
})

const schools = await pbFetch({
	collection: 'schools',
	sort: 'name'
})

schools.forEach((school: any) => {
	education.forEach((course: any) => {
		if (school.id == course.school) {
			course.school = school
		}
	});
});

---

<Layout 
	title="Home"
	description="Välkommen till min portfolio"
>
	<main>
		
		<section class="padding-inline-50">
			<container class="margin-inline-auto" style="position: relative; height: 312px;">
				<box></box>
				<article class="margin-inline-300">
					<h1 class="margin-bottom-0 margin-top-200 padding-top-100">Axel Schnürer</h1>
					<small>Frontend develeoper</small> <br />
				</article>
			</container>
		</section>

		<section class="padding-block-300 padding-inline-50">
			<container-text class="margin-inline-auto">
				<h2 class="margin-block-200" style="text-align: center">Some of my projects</h2>
				<grid class="grid-projects-layout gap-100"> 
					{projects.map((project: any) =>
					    project.showcase && (
							<div class="flex-grow-100 padding-50" style="box-shadow: 0 0 .5rem -.25rem rgba(102,168,122); border-radius: .5rem;">
								<flex class="justify-content-center">
									<img src={`https://schnurer.pockethost.io/api/files/${project.collectionId}/${project.id}/${project.banner}`} alt="" style="height: 100px; max-width: 100%; border-radius: .25rem; " />
								</flex>
								<h2 class="margin-block-100" style="text-transform: capitalize; text-align: center; font-weight: 500;">{project.title}</h2>
								<div set:html={project.description} class="text margin-block-100"></div>
								<a href="" class="block padding-25 temp-class" style="color: white; background-color: #292929; text-decoration: none; text-align: center; border-radius: .25rem;">Read more</a>
							</div>	
						)
					)}
				</grid>
				<flex class="justify-content-center margin-block-200">
					<a href="">View all projects</a> 
				</flex>
			</container-text>
		</section>

		<section class="padding-inline-50 padding-block-300" style="background-color: hsl(138, 28%, 85%);">
			<container class="margin-inline-auto">
				<h2 class="margin-0">About me</h2>
			</container>
		</section>
		
		<section class="padding-inline-50 padding-block-300 margin-block-500">
			<container-text class="margin-inline-auto">
				<h2 class="margin-0">Work experience</h2>
			</container-text>
		</section>
		
		<section class="padding-inline-50 padding-block-300" style="background-color: hsl(138, 28%, 85%);">
			<container class="margin-inline-auto">
				<h2 class="margin-0">Education</h2>
				<h3>Courses</h3>
				{education.map((course: any) =>
					<article class="margin-block-100">
						<flex class="justify-content-space-between align-items-center">
							<flex class="align-items-center gap-100">
								<img src={`https://schnurer.pockethost.io/api/files/${course.school.collectionId}/${course.school.id}/${course.school.logo}`} alt="" width="48" height="48" style="object-fit: contain; border-radius: 3px;" />
								<section>	
									<small style="color: #494949;">{course.code}</small> <br/>
									<h4 class="margin-0" style="max-width: 50ch;">{course.name}</h4>
									<small>{course.school.name} • {course.credits} credits</small>
								</section>
							</flex>
							<div style="text-align: right;">
								<time><span style="font-weight: 500;">Ended:</span> {new Date(course.end_date).toISOString().split('T')[0]}</time> <br />
								<time><span style="font-weight: 500;">Started:</span> {new Date(course.start_date).toISOString().split('T')[0]}</time>	
							</div>
						</flex>
					</article>
				)}
			</container>
		</section>
		<section class="padding-inline-50 padding-block-300 margin-block-500">
			<container class="margin-inline-auto" id="contact">
				<flex class="justify-content-space-between align-items-center gap-100 flex-wrap-wrap-reverse">
					<section style="width: min(70ch, 100%);">
						<h2>Contact</h2>
						<form>
							<label class="block margin-block-75">
								Full name
								<input type="text" class="margin-block-25" />
							</label>
							<label class="block margin-block-75">
								Email
								<input type="email" class="margin-block-25" />
							</label>
							<label class="block margin-block-75">
								Message
								<textarea class="margin-block-25"></textarea>
							</label>
							<button type="submit" class="cta">Submit</button>
						</form>
					</section>
					<img width="400" height="400" src="https://images.unsplash.com/photo-1724770646663-2a806ed04ca4?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="border-radius: .25rem; object-fit: cover;" />
				</flex>
			</container>
		</section>
	</main>
</Layout>

<style>

	h1 {
		font-size: 3rem;
	}

	small {
		font-size: 1rem;
	}

	.grid-projects-layout {
		grid-template-columns: repeat(auto-fit,minmax(min(200px, 100%), 1fr));
	}

	box {
		background-image: url('background.jpg');
		background-size: cover;
		width: 100%;
		height: 400px;
		display: block;
		border-radius: .25rem;
		position: absolute;
		top: -85px;
		left: 0;
		z-index: -1;
		box-shadow: 0 0 .5rem -.25rem rgba(102,168,122);
	} 

	box-temp {
		flex-grow: 1;
		height: 200px;
		border-radius: .25rem;
		background-color: rgba(102,168,122);
	}


	.text {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2; /* number of lines to show */
				line-clamp: 2; 
		-webkit-box-orient: vertical;
	}

	.temp-class {
		transition: background-color .2s ease, box-shadow .2s ease;
	}

	.temp-class:hover {
		background-color: #a86694 !important;
		box-shadow: 0 0 .5rem -3px #a86694;

	}

    .cta {
        padding: .5rem;
        background-color: #c293b4;
        box-shadow: 3px 3px 0 -1px #a86694;
        transition: box-shadow .1s ease-out, background-color .2s ease;
        border-radius: 2px;
		font-weight: 500;
    }

    .cta:active {
        box-shadow: none !important;
    }

	.cta:hover {
		background-color: #e0acd1;
        box-shadow: 3px 3px 0 -1px #c293b4;
	}

</style>
